.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  transition: .2s ease;
  &--orange {
    background-color: $mainOrange;
    &:hover{
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(225, 225, 225, 0.2);
      }
      &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(225,225,225, .2);
      }
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

}